*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* @font-face {
  font-family: robotoRegular;
  src: url("./assets/Font/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: PoppinsRegular;
  src: url("./assets/Font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: MontserratRegular;
  src: url("./assets/Font/Montserrat/Montserrat-Regular.ttf");
} */

